/* Login box */
.login-box {
    width: 485px;
    height: 330px;
    margin: auto;
    float: none;
    margin-top: 200px;
    padding: 20px;
	border-left: 30px solid #4c83b4;
}

.login-box h3 {
    color: #4c83b4;
    font-weight: bold;
    font-size: 14pt;
    font-variant: small-caps;
    margin: 0;
}

strong {
    font-weight: bold;
}

* {
    font-family:"Trebuchet MS",Trebuchet,Helvetica,Arial;
    font-size:10.5pt;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.3em;
}

.errorMsg {
	font-weight: bold;
	color: #d00;
	border: 1px solid #f99;
	background: #ffefef;
	padding: 5px;
}

body {
	background: url(/imgs/bg.gif) repeat-x top;
}
