<ul id="tree1" class="tree">
	<li class="folder f-open root"><span>Articulos</span>
		<ul>
			<li id="newPost" class="doc"><span><a>Crear</a></span></li>
			<li id="readPost" class="doc"><span><a>Ver</a></span></li>
		</ul>
	</li>
	<li class="folder f-open root"><span>Categorias</span>
		<ul>
			<li id="newCat" class="doc"><span><a>Crear</a></span></li>
			<li id="readCat" class="doc"><span><a>Ver</a></span></li>
		</ul>
	</li>	
	<li class="folder f-open root"><span>Paginas</span>
		<ul>
			<li id="newPage" class="doc"><span><a>Crear</a></span></li>
			<li id="readPage" class="doc"><span><a>Ver</a></span></li>
		</ul>
	</li>	
	<li class="folder f-open root"><span>Comentarios</span>
		<ul>
			<li id="newUser" class="doc"><span><a>Ver</a></span></li>
		</ul>
	</li>	
	<li class="folder f-open root"><span>Usuarios</span>
		<ul>
			<li id="newUser" class="doc"><span><a>Crear</a></span></li>
			<li id="readUser" class="doc"><span><a>Ver</a></span></li>
		</ul>
	</li>
</ul>

<script type="text/javascript">

	$('newPost').addEvent('click', function(e){
		MochaUI.updateContent({
			'element': $('mainPanel'),
			'loadMethod': 'xhr',
			'url': '/admin/post/create/',
			'title': 'Lorem Ipsum',
			'padding': { top: 8, right: 8, bottom: 8, left: 8 }
		});
		$('mainPanel').setStyle('background','#fff');
	});

	$('readPost').addEvent('click', function(e){
		MochaUI.updateContent({
			'element': $('mainPanel'),
			'loadMethod': 'iframe',
			'url': '/admin/post/read/',
			'title': 'Listado de articulos',
			'padding': { top: 0, right: 0, bottom: 0, left: 0 }
		});
		$('mainPanel').setStyle('background','#000');
	});

</script>